@import './base.css';

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* MAIN CONTAINER IN LOGIN AND SIGNUP PAGE  */
.main-ctn{
  background-color: #f0eded;
  height:100vh;
  width: 30vw;
}
@media screen and (max-width:890px){
  .main-ctn{
    width:100vw;
  }
}